{% extends 'layout.html' %}
{% block content %}
  <div class="container" style="background-color:white;">
    <h1 class="center display-4">Admin Panel</h1>
    <p class="lead center">View, edit, copy, and delete all links</p>
    <p class="lead center">Total links: {{ links|length }}</p>
    <p class="lead center">Total clicks: {{ totClicks }}</p>
    <hr class="my-4">
    <br><br>
    {% for link in links %}
    <div class="pushed">
      <p><b>Clicks: </b>{{link.clicks }}</p>
      <p><b>Name: </b>{{ link.name }}</p>
      <p><b>Title: </b>{{ link.title }}</p>
      <p><b>Description: </b>{{ link.desc }}</p>
      <p><b>Link: </b>{{ domain }}/l/{{ link.link }}</p>
      <button id="{{ link.link }}" class="btn btn-success" onclick="copyLink('{{ domain }}/l/{{ link.link }}', '{{ link.link }}')">Copy</button>
      <a href="{{ url_for('edit', link_url=link.link) }}" class="btn btn-warning">Edit</a>
      <button id="del-{{ link.link }}" class="btn btn-danger" onclick="linkDel('{{ link.link }}')">Delete</button>
      <a id="conf-{{ link.link }}" href="{{ url_for('delete', link_url=link.link) }}" class="btn btn-danger hidden">Confirm</a>
    </div>
    <hr class="my-4">    
    {% endfor %}
  </div>

  <script>
    function copyLink(text, id) {
      navigator.clipboard.writeText(text);
      let copyBtn = document.querySelector(`#${id}`);
      copyBtn.innerText = 'Copied'
      setTimeout(()=>{copyBtn.innerText = 'Copy'}, 1000)
    }
    function linkDel(id) {
      let delbtn = document.getElementById(`del-${id}`);
      let confbtn = document.getElementById(`conf-${id}`);
      if(delbtn.innerText == 'Delete'){
        delbtn.classList.remove('btn-danger');
        delbtn.classList.add('btn-secondary');
        delbtn.innerText = 'Cancel';        
        confbtn.classList.remove('hidden');

      }else{
        delbtn.classList.add('btn-danger');
        delbtn.classList.remove('btn-secondary');
        delbtn.innerText = 'Delete';
        confbtn.classList.add('hidden');
      }
    }
  </script>

{% endblock %}