{% extends 'layout.html' %}
{% block content %}
  <div class="container" style="background-color:white;">
    <h1 class="center display-4">All Links</h1>
    <p class="lead center">Here Is Where You Find All Links</p>
    <hr class="my-4">
    <br><br>
    {% for link in links %}
    <div class="pushed">
        <p>https://allnewsnow.online/l/{{ link.link }}</p>
        <p>{{ link.url }}</p>
        <a href="https://allnewsnow.online/l/{{ link.link }}/edit" class="btn btn-outline-secondary">Edit</a>
    </div>
    <hr class="my-4">    
    {% endfor %}
  </div>



{% endblock %}