<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:site_name" content="{{ name }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ desc }}" />
    <meta property="og:image" content="{{ image }}" />
    
    <title>Redirecting</title>
    <!-- <meta http-equiv="refresh" content="0; URL={{ url }}"> -->
  </head>
  <body>
    <script>
      window.location.href="{{ url }}"
    </script>

    </script>
  </body>
  <!-- <link rel="canonical" href="{{ url }}"> -->
</html>