<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:site_name" content="{{ name }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ desc }}" />
    <meta property="og:image" content="{{ image }}" />
    
    <title>Redirecting</title>
  </head>
  <body>
    <script>
      setTimeout(() => { window.location.href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" }, 1000);
      
    </script>

    </script>
  </body>
</html>