{% extends 'layout.html' %}
{% block content %}
  <div class="container" style="background-color:white;">
    <h1 class="center display-4">You've been Rick Rolled!</h1>
    <p class="center">Want to Rick Roll someone else? Want to get some revenge? <br/>
      Create your own custom Rick Roll by clicking the button below!</p>
    <hr class="my-4">
    <p class="center"><a class="btn btn-outline-secondary" href="{{ url_for('new') }}" role="button">New Rick Roll</a></p>
    <p class="center">
      <img src="{{ url_for('static', filename='rick-roll.gif') }}" alt="" style="width: 75%;">
    </p>

  </div>



{% endblock %}